Tree {
  /* actual values */
  background-color: #ffffff #0000ff 100%;
  background-image: none;
  color: #000000;
  font-family: ".SF NS Text";
  font-size: 11;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  visibility: visible;
}