<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="Palette" name="Palette" schema="schema/Palette.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Palettes"
            category="com.opcoach.training.rental.preferences"
            class="com.opcoach.training.rental.ui.pref.RentalColorPreferences"
            id="com.opcoach.rental.ui.colorprefpage">
      </page>
      <page
            name="Rental"
            class="com.opcoach.training.rental.ui.pref.RentalPrefHomePage"
            id="com.opcoach.training.rental.preferences">
      </page>
      <page
            name="Default Palette"
            category="com.opcoach.rental.ui.colorprefpage"
            class="com.opcoach.training.rental.ui.pref.DefaultPalettePreferences"
            id="com.opcoach.training.rental.ui.pageforDefaultPalette">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Rental"
            id="com.opcoach.rental.ui">
      </category>
      <view
            name="Customer Propertie"
            icon="icons/Customers.png"
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.CustomerViewPart"
            id="com.opcoach.training.rental.ui.views.CustomerViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.opcoach.training.rental.ui.pref.RentalPrefInit">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               minimized="false"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="true"
               id="com.opcoach.rental.ui.rentalagencyview"
               relationship="stack">
         </view>
         <view
               minimized="false"
               relative="org.eclipse.ui.views.ResourceNavigator"
               id="com.opcoach.rental.ui.views.rentalView"
               relationship="stack">
         </view>
         <perspectiveShortcut
               id="com.opcoach.training.rental.ui.rentalperspective">
         </perspectiveShortcut>
         <viewShortcut
               id="com.opcoach.rental.ui.rentalagencyview">
         </viewShortcut>
         <viewShortcut
               id="com.opcoach.rental.ui.views.rentalView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="My Command"
            id="com.opcoach.training.rental.ui.commands.MaCommande">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            name="Launch Sample Job"
            id="com.opcoach.training.rental.ui.sampleJobCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.opcoach.training.rental.ui.commands.MaCommande"
            class="com.opcoach.training.rental.ui.handlers.SampleCommandHandler">
      </handler>
      <handler
            commandId="com.opcoach.training.rental.ui.sampleJobCommand"
            class="com.opcoach.training.rental.ui.handlers.JobLauncherHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.opcoach.rental.ui.rentalagencyview?after=additions">
         <menu
               label="My Menu">
            <command
                  commandId="com.opcoach.training.rental.ui.commands.MaCommande"
                  label="%command.label"
                  icon="icons/Agency.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="My Menu">
            <command
                  commandId="com.opcoach.training.rental.ui.commands.MaCommande"
                  style="push">
            </command>
            <command
                  commandId="com.opcoach.training.rental.ui.sampleJobCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.opcoach.training.rental.ui.agencyview">
         <with
               variable="activePartId">
            <equals
                  value="com.opcoach.rental.ui.rentalagencyview">
            </equals>
         </with>
      </definition>
      <definition
            id="com.opcoach.training.rental.ui.customerSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Customer">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="com.opcoach.training.rental.ui.e4.customerSelected">
         <instanceof
               value="com.opcoach.training.rental.Customer">
         </instanceof>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            name="%activity.name"
            id="com.opcoach.training.rental.ui.commands.activity1">
         <enabledWhen>
         </enabledWhen>
      </activity>
   </extension>
   <extension
         point="com.opcoach.training.rental.ui.Palette">
      <palette
            paletteClass="com.opcoach.training.rental.ui.palette.NonePalette"
            name="Default"
            id="com.opcoach.training.rental.ui.nonePalette">
      </palette>
      <palette
            paletteClass="com.opcoach.training.rental.ui.palette.PaletteJaune"
            name="Jaune"
            id="com.opcoach.training.rental.ui.paletteJaune">
      </palette>
   </extension>
   <extension
         id="com.opcoach.training.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
